*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.announcement-container{
    height: 40px;
    background-color: teal;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.announcement-container h1{
    font-size:1rem;
    font-weight: 600;
    color: white;
    letter-spacing: 0.1rem;
}
@media (max-width:768px){
    .announcement-container h1{
        font-size: 12px;
        font-weight:300 ;
        letter-spacing: 0;
        margin-left:20px ;
    }
}